<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/site.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 480px)" href="css/small.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome-4.6.3/css/font-awesome.min.css">
    <title></title>

    <script src="script/angular.min.js"></script>
    <script src="script/app.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <nav>
        <ul data-content="social">

        </ul>
    </nav>

    <div id="content">
        <!--<div class="first" id="viewJson">
				<span class="right"><a href="resume.json">View as JSON</a></span>
			</div>-->

        <section>
            <h1 data-content="name" class="name">{{resume.name}}</h1>
            <h2 data-content="title">{{resume.title}}</h2>
            <section id="contact">
                <div class="social"><i class="fa fa-phone fa-fw" aria-hidden="true"></i>&nbsp;<a href="tel:{{resume.phoneNumber}}">{{resume.phoneNumber}}</a></div>
                <div class="social">
                    <i class="fa fa-envelope fa-fw" aria-hidden="true"></i>&nbsp;<a href="mailto:{{resume.email}}">{{resume.email}}</a></div>
                <div ng-if="resume.website" class="social">
                    <i class="fa fa-link fa-fw" aria-hidden="true"></i>&nbsp;<a href="{{resume.github}}">{{resume.website}}</a>
                </div>
                <div ng-if="resume.github" class="social">
                    <i class="fa fa-github fa-fw" aria-hidden="true"></i>&nbsp;<a href="{{resume.github}}">{{resume.github}}</a>
                </div>
                <div class="social">
                    <i class="fa fa-linkedin fa-fw" aria-hidden="true"></i>&nbsp;<a href="{{resume.linkedin}}">{{resume.linkedin}}</a>
                </div>
            </section>
        </section>

        <section id="objective">
            <h1>Objective</h1>
            <p data-content="objective">{{resume.objective}}</p>
        </section>

        <section id="aboutme">
            <h1>Executive Summary</h1>
            <p data-content="aboutme">{{resume.aboutme}}</p>
        </section>

        <section id="skills">
            <h1>Skills / Languages</h1>
            <ul data-content="skills" class="double">
                <li ng-repeat="skill in resume.skills">{{skill}}</li>
            </ul>
        </section>

        <section id="frameworks">
            <h1>Frameworks / Libraries / Data Formats</h1>
            <ul data-content="frameworks" class="double">
                <li ng-repeat="item in resume.frameworks">{{item}}</li>
            </ul>
        </section>

        <section id="projects">
            <h1>Projects</h1>
            <ul data-content="projects">
                <li ng-repeat="project in resume.projects">
                    <section>
                        <ul>
                            <li>
                                <div class="label">Name:</div>
                                <div class="content">{{project.name}}</div>
                            </li>
                            <li ng-show="project.url">
                                <div class="label">URL:</div>
                                <div class="content"><a href="{{project.url}}">{{project.url}}</a></div>
                            </li>
                            <li>
                                <div class="label">Technologies:</div>
                                <div class="content">{{project.technologies}}</div>
                            </li>
                            <li>
                                <div class="label">Description:</div>
                                <div class="content">{{project.description}}</div>
                            </li>
                        </ul>
                    </section>
                </li>
            </ul>
        </section>

        <section id="personalProjects">
            <h1>Personal Projects</h1>
            <ul data-content="projects">
                <li ng-repeat="project in resume.personalProjects">
                    <section>
                        <ul>
                            <li>
                                <div class="label">Name:</div>
                                <div class="content">{{project.title}}</div>
                            </li>
                            <li ng-show="project.link">
                                <div class="label">URL:</div>
                                <div class="content"><a href="{{project.link}}">{{project.link}}</a></div>
                            </li>
                            <li>
                                <div class="label">Description:</div>
                                <div class="content">{{project.description}}</div>
                            </li>
                        </ul>
                    </section>
                </li>
            </ul>
        </section>

        <section id="experience">
            <h1>Experience</h1>
            <ul data-content="experience">
                <li ng-repeat="item in resume.experience">
                    <section>
                        <ul>
                            <li>
                                <div class="label">Company:</div>
                                <div class="content">{{item.company}}</div>
                            </li>
                            <li>
                                <div class="label">Title:</div>
                                <div class="content">{{item.title}}</div>
                            </li>
                            <li>
                                <div class="label">Tenure:</div>
                                <div class="content">{{item.startDate}} - {{item.endDate}}</div>
                            </li>
                            <li>
                                <div class="label">Responsibilities:</div>
                                <div class="content">{{item.responsibilities}}</div>
                            </li>
                            <li ng-if="item.achievements">
                                <div class="label">Achievements:</div>
                                <div class="content">{{item.achievements}}</div>
                            </li>
                        </ul>
                    </section>
                </li>

            </ul>
        </section>
        <section id="training" ng-hide="true">
            <h1>Training Experience</h1>
            <ul data-content="training">
                <li ng-repeat="item in resume.training">
                    <section>
                        <ul>
                            <li>
                                <div class="label">Company:</div>
                                <div class="content">{{item.company}}</div>
                            </li>
                            <li>
                                <div class="label">Technology:</div>
                                <div class="content">{{item.technology}}</div>
                            </li>
                            <li>
                                <div class="label">Location:</div>
                                <div class="content">{{item.location}}</div>
                            </li>
                            <li>
                                <div class="label">Duration:</div>
                                <div class="content">{{item.duration}}</div>
                            </li>
                            <li>
                                <div class="label">Batch Size:</div>
                                <div class="content">{{item.batchsize}}</div>
                            </li>
                            <li>
                                <div class="label">Responsibilities:</div>
                                <div class="content">{{item.workResponsibilities[0]}}</div>
                            </li>
                        </ul>
                    </section>
                </li>

            </ul>
        </section>

        <section id="education">
            <h1>Education</h1>
            <ul data-content="education">
                <li ng-repeat="item in resume.education">
                    <section>
                        <ul>
                            <li>
                                <div class="label">School:</div>
                                <div class="content">{{item.school}}</div>
                            </li>
                            <li>
                                <div class="label">Program:</div>
                                <div class="content">{{item.program}}</div>
                            </li>
                            <li>
                                <div class="label">Dates Attended:</div>
                                <div class="content">{{item.startDate}} - {{item.endDate}}</div>
                            </li>
                            <li>
                                <div class="label">Achievements:</div>
                                <div class="content">{{item.achievements}}</div>
                            </li>
                        </ul>
                    </section>
                </li>
            </ul>
        </section>
    </div>

    <!--<footer>
			Last updated on: 10-April-2015
		</footer>-->
</body>

</html>